@import 'theme';
$primary-color: #3498DB;
$secondary-color: #2980B9;
$neutral-light: #ECF0F1;
$neutral-medium: #E74C3C;
$neutral-dark: #2C3E50;

$lowpoly: url('../../img/backgrounds/lowpoly.png');

@import 'slanty';
@import 'header';
@import 'features';
@import 'products';
@import 'uielements';
@import 'footer';
@import 'staff';

*{
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transform: translate3d(0,0,0);
}


html{
	max-width:100%;
	width:100%;
	height:100%;
	overflow-x:hidden;
	font-family: 'Open Sans', sans-serif;
}
body{
	background: $neutral-dark;
	background-size:cover;
	overflow-x: hidden;
	width:100%;
	height:100%;
}
.left{
	float:left;
}
.right{
	float:right;
}
.primary{
	background: $primary-color;
	height: auto;
	z-index:1;
	position:relative;
	border-top:10px solid $secondary-color;
	border-bottom:5px solid $secondary-color;
}
*:focus {
    outline: none;
}
.stylizedSpacer{
	height: 25em;
	width:100%;
	background:url('../../img/backgrounds/concert.jpg');
	background-size: cover;
}
